pkgbase = gnome-shell-extension-ddterm
	pkgdesc = Another Drop Down Terminal Extension for GNOME Shell
	pkgver = 57
	pkgrel = 1
	url = https://github.com/ddterm/gnome-shell-extension-ddterm
	install = gnome-shell-extension-ddterm.install
	arch = any
	license = GPL-3.0-or-later
	checkdepends = python-pytest
	checkdepends = python-gobject
	checkdepends = wl-clipboard
	makedepends = meson
	makedepends = git
	makedepends = gtk4
	makedepends = libxslt
	makedepends = xorg-server-xvfb
	depends = gnome-shell>=45
	depends = gjs
	depends = gtk3
	depends = vte3
	depends = libhandy
	source = gnome-shell-extension-ddterm-57.tar.gz::https://github.com/ddterm/gnome-shell-extension-ddterm/archive/refs/tags/v57.tar.gz
	sha256sums = 131557afef69dbd225194c72779a72555a8c28d98bdf3767bd1258a66675088b

pkgname = gnome-shell-extension-ddterm
