pkgbase = gnome-shell-extension-ddterm
	pkgdesc = Another Drop Down Terminal Extension for GNOME Shell
	pkgver = 54
	pkgrel = 1
	url = https://github.com/ddterm/gnome-shell-extension-ddterm
	install = gnome-shell-extension-ddterm.install
	arch = any
	license = GPL-3.0-or-later
	makedepends = meson
	makedepends = git
	makedepends = gtk4
	makedepends = libxslt
	makedepends = xorg-server-xvfb
	depends = gnome-shell>=45.0
	depends = gjs
	depends = gtk3
	depends = vte3
	depends = libhandy
	source = gnome-shell-extension-ddterm-54.tar.gz::https://github.com/ddterm/gnome-shell-extension-ddterm/archive/refs/tags/v54.tar.gz
	sha256sums = 42c9fbee87bf6c856a551370877fbea728d766b4056b22c6786428ede88922f6

pkgname = gnome-shell-extension-ddterm
