name: aur-publish

permissions:
  contents: read

concurrency: ${{ github.workflow }}/${{ github.ref }}

on:
  workflow_dispatch:
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  push:
    strategy:
      fail-fast: false
      matrix:
        package:
          - gnome-shell-extension-ddterm
          - gnome-shell-extension-ddterm-git

    runs-on: ubuntu-24.04
    environment:
      name: AUR
      url: https://aur.archlinux.org/packages/${{ matrix.package }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - run: mkdir -p ~/.ssh

      - run: echo "$AUR_SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
        env:
          AUR_SSH_KNOWN_HOSTS: |
            aur.archlinux.org ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDKF9vAFWdgm9Bi8uc+tYRBmXASBb5cB5iZsB7LOWWFeBrLp3r14w0/9S2vozjgqY5sJLDPONWoTTaVTbhe3vwO8CBKZTEt1AcWxuXNlRnk9FliR1/eNB9uz/7y1R0+c1Md+P98AJJSJWKN12nqIDIhjl2S1vOUvm7FNY43fU2knIhEbHybhwWeg+0wxpKwcAd/JeL5i92Uv03MYftOToUijd1pqyVFdJvQFhqD4v3M157jxS5FTOBrccAEjT+zYmFyD8WvKUa9vUclRddNllmBJdy4NyLB8SvVZULUPrP3QOlmzemeKracTlVOUG1wsDbxknF1BwSCU7CmU6UFP90kpWIyz66bP0bl67QAvlIc52Yix7pKJPbw85+zykvnfl2mdROsaT8p8R9nwCdFsBc9IiD0NhPEHcyHRwB8fokXTajk2QnGhL+zP5KnkmXnyQYOCUYo3EKMXIlVOVbPDgRYYT/XqvBuzq5S9rrU70KoI/S5lDnFfx/+lPLdtcnnEPk=
            aur.archlinux.org ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBLMiLrP8pVi5BFX2i3vepSUnpedeiewE5XptnUnau+ZoeUOPkpoCgZZuYfpaIQfhhJJI5qgnjJmr4hyJbe/zxow=
            aur.archlinux.org ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEuBKrPzbawxA/k2g6NcyV5jmqwJ2s+zpgZGZ7tpLIcN

      - id: ssh-agent
        run: |
          eval "$(ssh-agent -t 300 -a "$RUNNER_TEMP/ssh-agent")"
          echo "SSH_AGENT_PID=$SSH_AGENT_PID" | tee -a "$GITHUB_ENV"
          echo "SSH_AUTH_SOCK=$SSH_AUTH_SOCK" | tee -a "$GITHUB_ENV"

      - run: echo "$AUR_SSH_KEY" | ssh-add -
        env:
          AUR_SSH_KEY: ${{ secrets.AUR_SSH_KEY }}

      - run: git subtree push "--prefix=$PACKAGE_NAME" "ssh://aur@aur.archlinux.org/$PACKAGE_NAME.git" master
        env:
          PACKAGE_NAME: ${{ matrix.package }}

      - if: always() && steps.ssh-agent.outcome == 'success'
        run: |
          eval "$(ssh-agent -k)"
          echo "SSH_AGENT_PID=$SSH_AGENT_PID" | tee -a "$GITHUB_ENV"
          echo "SSH_AUTH_SOCK=$SSH_AUTH_SOCK" | tee -a "$GITHUB_ENV"
