on:
  workflow_call:

permissions:
  contents: read

defaults:
  run:
    shell: bash

env:
  DEVTOOLS_COLOR: always
  FORCE_COLOR: 1

jobs:
  actionlint:
    runs-on: ubuntu-24.04
    env:
      # renovate: datasource=github-releases depName=rhysd/actionlint
      ACTIONLINT_VERSION: 1.7.10

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - working-directory: ${{ runner.temp }}
        run: |
          wget "https://github.com/rhysd/actionlint/releases/download/v${ACTIONLINT_VERSION}/actionlint_${ACTIONLINT_VERSION}_linux_amd64.tar.gz"
          mkdir actionlint
          tar -C actionlint -xf "actionlint_${ACTIONLINT_VERSION}_linux_amd64.tar.gz"
          echo "$(pwd)/actionlint" >>"$GITHUB_PATH"
          wget "https://raw.githubusercontent.com/rhysd/actionlint/v${ACTIONLINT_VERSION}/.github/actionlint-matcher.json"
          echo "::add-matcher::$(pwd)/actionlint-matcher.json"

      - run: actionlint -verbose -color

  shellcheck:
    strategy:
      fail-fast: false
      matrix:
        package:
          - gnome-shell-extension-ddterm
          - gnome-shell-extension-ddterm-git

    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/archlinux/archlinux:base-devel-20260202.0.486820@sha256:be812dc69c6d0ae55fa3bd04fc55d4aad1732f5e6a16999d427ba638b7fdb92b

    steps:
      - run: pacman -Sy --noconfirm shellcheck git

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: git config --global --replace-all safe.directory "$GITHUB_WORKSPACE"

      - run: echo '::add-matcher::.github/shellcheck-gcc-problem-matcher.json'
      - run: shellcheck --format=gcc "$PACKAGE_NAME/PKGBUILD" "$PACKAGE_NAME"/*.install
        env:
          PACKAGE_NAME: ${{ matrix.package }}

  package:
    strategy:
      fail-fast: false
      matrix:
        package:
          - gnome-shell-extension-ddterm
          - gnome-shell-extension-ddterm-git

    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/archlinux/archlinux:base-devel-20260202.0.486820@sha256:be812dc69c6d0ae55fa3bd04fc55d4aad1732f5e6a16999d427ba638b7fdb92b
      options: --privileged --tmpfs /run

    steps:
    - run: sed -i '/^NoExtract/d' /etc/pacman.conf
    - run: echo "$REPO_CONFIG" >> /etc/pacman.conf
      env:
        REPO_CONFIG: |
          [ddterm]
          SigLevel = Never
          Server = https://ddterm.github.io/aur

    - run: pacman -Sy --noconfirm --noprogressbar --color=always devtools
    - run: systemd-machine-id-setup
    - run: useradd -m builduser
    - run: echo "$GITHUB_WORKSPACE/.github/bin" >> "$GITHUB_PATH"

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - run: git config --global --replace-all safe.directory "$GITHUB_WORKSPACE"
    - run: chown -R builduser .

    - run: sudo -u builduser makepkg --printsrcinfo | tee .SRCINFO
      working-directory: ${{ matrix.package }}

    - run: git diff --exit-code .SRCINFO
      working-directory: ${{ matrix.package }}

    - run: sudo -u builduser makepkg --allsource
      working-directory: ${{ matrix.package }}

    - run: mkarchroot -C /etc/pacman.conf -M /etc/makepkg.conf /var/tmp/root base-devel
    - run: makechrootpkg -r /var/tmp -c -n -C -U builduser -- --holdver
      working-directory: ${{ matrix.package }}

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ${{ matrix.package }}-pkg
        path: |
          ${{ matrix.package }}/*.src.tar.*
          ${{ matrix.package }}/*.pkg.tar.*
          ${{ matrix.package }}/*.log
        if-no-files-found: error
      if: always()

  installed-test:
    strategy:
      fail-fast: false
      matrix:
        package:
          - gnome-shell-extension-ddterm
          - gnome-shell-extension-ddterm-git

    needs: package
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/archlinux/archlinux:base-devel-20260202.0.486820@sha256:be812dc69c6d0ae55fa3bd04fc55d4aad1732f5e6a16999d427ba638b7fdb92b
      options: --privileged --tmpfs /run

    steps:
    - run: |
        # https://ubuntu.com/blog/ubuntu-23-10-restricted-unprivileged-user-namespaces
        sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0
        sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

    - run: pacman -Syu --noconfirm git
    - run: systemd-machine-id-setup
    - run: useradd -m builduser

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        sparse-checkout: installed-test

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: ${{ matrix.package }}-pkg

    - run: rm -v ./*.log
    - run: pacman --noconfirm -U ./*.pkg.tar.*
    - run: tar xf ./*.src.tar.*
    - run: chown -R builduser .
      working-directory: ${{ matrix.package }}
    - run: sudo -u builduser makepkg --nobuild --holdver --nodeps
      working-directory: ${{ matrix.package }}
    - id: runtest
      run: >-
        "$GITHUB_WORKSPACE/installed-test/$PACKAGE_NAME.sh"
      working-directory: ${{ matrix.package }}/src
      env:
        PACKAGE_NAME: ${{ matrix.package }}
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ${{ matrix.package }}-test
        path: ${{ steps.runtest.outputs.reports }}
        if-no-files-found: error
      if: always() && steps.runtest.outputs.reports

  repo:
    needs:
      - package
      - installed-test

    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/archlinux/archlinux:base-devel-20260202.0.486820@sha256:be812dc69c6d0ae55fa3bd04fc55d4aad1732f5e6a16999d427ba638b7fdb92b

    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: repo
          pattern: '*-pkg'
          merge-multiple: true

      - run: rm ./*.log
        working-directory: repo

      - run: repo-add ddterm.db.tar.zst ./*.pkg.tar.*
        working-directory: repo

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: repo
          pattern: '*-test'
          merge-multiple: false

      - run: pacman -Sy --noconfirm tree

      - run: >-
          find . -type d -exec bash -c
          'tree "$0" -h --du -H "/${GITHUB_REPOSITORY#*/}/${0:2}" -o "$0/index.html"'
          '{}' ';'
        working-directory: repo

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: repo
